@font-face {
    font-family: 'NanumGothicCoding-Regular';
    src: url(NanumGothicCoding-Regular.ttf) format("ttf"),
}

@font-face {
    font-family: 'MYRIADPRO-BOLD';
    src: url(myraid-pro/MYRIADPRO-BOLD.OTF) format("OTF"),
        url(myraid-pro/MYRIADPRO-REGULAR.TTF) format("truetype");
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.img-box-1>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

/* 고정형 .con 시작 */
body {
    overflow-x: hidden;
}

.con-min-width {
    min-width: 1370px;
}

.con {
    width: 66.667%;
}

/* 고정형 .con 끝 */

/* 반응형 타입 1 .con 시작 */
/*
.con {
  max-width:1370px;
}
*/
/* 반응형 타입 1 .con 끝 */

/* 반응형 타입 2(넓을때만 반응형) .con 시작 */
/*
.con-min-width {
  min-width:1370px;
}

.con {
  margin-left:50px;
  margin-right:50px;
}
*/
/* 반응형 타입 2(넓을때만 반응형) .con 끝 */

/*배경선 시작*/
.bg-lines {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    bottom: 0;
    pointer-events: none;
    overflow: hidden;
}

.bg-lines>.lines>div {
    position: absolute;
    top: 0;
    left: 16.6666667%;
    width: 1px;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 1;
}

.bg-lines>.lines>div:nth-child(2) {
    left: 33.3333333%;
}

.bg-lines>.lines>div:nth-child(3) {
    left: 50%;
}

.bg-lines>.lines>div:nth-child(4) {
    left: 66.6666667%;
}

.bg-lines>.lines>div:nth-child(5) {
    left: 83.333333%;
}

/*배경선 끝*/

/*사이드바 시작*/
.side-bar {
    position: fixed;
    top: 72%;
    left: 0;
    margin-left: -7%;
    font-size: 1.5rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.side-bar>ul {
    display: flex;
}

.side-bar>ul>li {
    padding-left: 20px;
}

.side-bar.active>ul>li>a {
    color: black;
}

.side-bar>ul>li>a.active {
    color: grey;
}

/* side-bar 끝*/

/* 공통 section 시작 */
.sections>.section {
    position: relative;
    width: 100%;
}

.sections>.section:nth-child(2n) {
    height: 50vh;
}

.section .title-box>.title>a {
    transform: translateX(-50%);
    display: block;
    float: left;
    left: 50%;
    position: relative;
}

body {
    transition: background-color 1s;
}

/*배경색 변경*/
.middle-bar-passed>body {
    background-color: black;
    color: white;
}

/* section-1 시작 */
.sections>.section-1 {
    height: 100vh;
}

.section-1>.info-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-1>.info-box>.title-box>.title {
    position: absolute;
    top: 15%;
    left: 16.7%;
    color: black;
    font-size: 5rem;
    font-weight: 550;
}


/* my-box 시작*/
.section-1>.info-box>.my-box {
    position: absolute;
    width: 66.6%;
    height: 70%;
    top: 30%;
    left: 16.7%;
}

.section-1>.info-box>.my-box>.name {
    position: absolute;
    width: 66.7%;
    top: 10%;
    left: 16.7%;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.section-1>.info-box>.my-box>.name>div {
    font-style: oblique;
}

.section-1>.info-box>.my-box>.circle-box>.my-one {
    position: relative;
    width: 100%;
}

.section-1>.info-box>.my-box>.circle-box>.my-one>.circle {
    position: relative;
    width: 30vh;
    height: 30vh;
    border-radius: 150px;
    margin: 20% 5%;
    background-color: white;
    border: 1px solid black;
    opacity: 0;
}

.section-1>.info-box>.my-box>.circle-box>.my-one>.circle:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.section-1>.info-box>.my-box>.circle-box>.my-one>.circle>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.section-1>.info-box>.my-box>.my-text-box {
    position: absolute;
    top: 85%;
}

.section-1>.info-box>.my-box>.my-text-box>ul>.my-text {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 16.7%;
    opacity: 0;
}

.section-1>.info-box>.my-box>.circle-box>.my-one>.circle.active {
    color: white;
    background-color: black;
}

.section-1>.info-box>.my-box>.my-text-box>ul>div {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    filter: blur(10px);
}

.section-1>.info-box>.my-box>.my-text-box>ul>.my-text>div {
    margin: 5%;
    text-align: center;
    font-style: oblique;
    line-height: 150%;
}

.section-1>.info-box>.my-box>.my-text-box>ul>.my-text>div>.my-title {
    font-weight: 700;
    line-height: 300%;
    font-size: 1.2rem;
}

.section-1>.info-box>.my-box>.my-text-box>ul>div.active {
    visibility: visible;
    opacity: 1;
    position: static;
    filter: blur(0);
    transition: visibility 1s, opacity 1s, filter 1s;
}


/* my-box 끝*/

/* section-2 시작 */
.section-2 {
    position: relative;
    top: 0;
    left: 0;
}

.section-2 .title-box {
    position: absolute;
    top: -7%;
    left: 16.666666%;
    z-index: 1;
}

.section-2 .title {
    color: white;
    font-size: 5rem;
    font-weight: 550;
}

/*포폴시작*/
.section-2 .portfolio {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.section-2>.portfolio>.box-1 {
    margin-top: 10%;
}

.section-2>.portfolio>.box-1>.list-box {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.section-2>.portfolio>.box-1>.list-box>.img-box {
    width: 50%;
}

.section-2>.portfolio>.box-1>.list-box>.img-box-1 {
    width: 50%;
}


.section-2>.portfolio>.box-1>.list-box>.text-box {
    position: relative;
    right: 0;
    width: 50%;
    text-align: right;
}

.section-2>.portfolio>.box-1>.list-box>.text-box:nth-of-type(2n-1) {
    text-align: left;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>div,
.section-2>.portfolio>.box-1>.list-box>.text-box>.number-1>div {
    padding: 10px 0;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>.min-title,
.section-2>.portfolio>.box-1>.list-box>.text-box>.number-1>.min-title {
    font-size: 3.5rem;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>.detail-text,
.section-2>.portfolio>.box-1>.list-box>.text-box>.number-1>.detail-text {
    font-size: 1rem;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>.detail-text>div:first-child,
.section-2>.portfolio>.box-1>.list-box>.text-box>.number-1>.detail-text>div:first-child {
    font-size: 1.2rem;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>.detail-text>div {
    line-height: 150%;
}

/*모작페이지연결버튼*/
.box-1>.list-box>.text-box>.number>.btn-more {
    position: absolute;
    right: 0;
    text-align: right;
}

.box-1>.list-box>.text-box>.number-1>.btn-more {
    position: absolute;
    left: 0;
    text-align: left;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>.btn-more>.more,
.section-2>.portfolio>.box-1>.list-box>.text-box>.number-1>.btn-more>.more {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(225, 225, 225, 0.2);
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-right: 12px;
}

.section-2>.portfolio>.box-1>.list-box>.text-box>.number>.btn-more:hover>.more,
.section-2>.portfolio>.box-1>.list-box>.text-box>.number-1>.btn-more:hover>.more {
    background-color: white;
    color: black;
}

/*움직이는 효과*/
.number,
.img-box-1 {
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 2s, transform 1s 1.3s;
}

.number.active,
.img-box-1.active {
    opacity: 1;
    transform: translateX(0);
}

.img-box,
.number-1 {
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 2s, transform 1s 1s;
}

.img-box.active,
.number-1.active {
    opacity: 1;
    transform: translateY(0);
}

/*section-2 끝*/

/*section-3 시작*/
.section-3 {
    position: relative;
    top: 0;
    left: 0;
    height: 800px;
}

.section-3 .title-box {
    position: absolute;
    top: 15%;
    left: 16.666666%;
    z-index: 1;
}

.section-3 .title {
    color: white;
    font-size: 5rem;
    font-weight: 550;
}

.section-3>.contact-box {
    position: absolute;
    top: 40%;
    left: 16.7%;
}

/* 이메일 박스 꾸미기 */
.text-box>input[type="text"],
.text-box>input[type="email"] {
    width: 100%;
    /* 원하는 너비 설정 */
    height: auto;
    /* 높이값 초기화 */
    line-height: normal;
    /* line-height 초기화 */
    padding: 1em 0.5em;
    /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    border: 1px solid #999;
    border-radius: 0;
    /* iSO 둥근모서리 제거 */
    outline-style: none;
    /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;
    /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

textarea[name="body"] {
    width: 100%;
    /* 원하는 너비 설정 */
    height: auto;
    /* 높이값 초기화 */
    line-height: normal;
    /* line-height 초기화 */
    padding: 5em 0.5em;
    /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    border: 1px solid #999;
    border-radius: 0;
    /* iSO 둥근모서리 제거 */
    outline-style: none;
    /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;
    /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.text-box>input[type="submit"],
.text-box>input[type="reset"] {
    position: relative;
    left: 70%;
    text-align: center;
    width: 70px;
    /* 원하는 너비 설정 */
    height: auto;
    /* 높이값 초기화 */
    line-height: normal;
    /* line-height 초기화 */
    border: 1px solid #999;
    padding: 0.8em 0.5em;
    background-color: #fff;
    border-radius: 50px;
    /* iSO 둥근모서리 제거 */
    outline-style: none;
    /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;
    /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

/*section-3 끝*/