html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

/* 고정형 .con 시작 */
.con-min-width {
    min-width: 1370px;
}

.con {
    width: 1200px;
}

/* 커스텀 */
/*탑바 시작*/
.top-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

.top-bar>.logo>img {
    width: 120px;
}

/*탑바 끝*/
/*메인 페이지 끝*/
.page {
    height: 100vh;
    position: relative;
    z-index: 0;
    color: white;
}

.page>.bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page>.bg>video {
    top: 70px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*메인 페이지 끝*/
/* 첫번째 아티클*/
.article>.article-text {
    width: 700px;
    padding: 40px;
    font-size: 20px;
}

/*첫번째 아티클 끝*/
/*레드  시작*/
.red-banner {
    color: #fff;
    background-color: #be1e2d;
}

.red-banner>.red-inner {
    padding: 0.5em 16px;
}

.red-banner>.red-inner>.title {
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
}

/*레드 제목 끝*/

/*슬라이드 시작*/
.my-slider-1 .swiper-slide {
    height: 100%;
}

.my-slider-1 .swiper-slide {
    color: transparent;
    transform: translatey(0);
    transition: color 3s, transform 10s;
}

.my-slider-1 .swiper-slide.swiper-slide-active {
    transform: translateX(0);
    color: red;
}

/*슬라이드 끝*/

/*달이미지1 시작*/
.moon-img-1 {
    position: relative;
    top: 0;
    width: 100%;
}

.moon-img-1>.img-box>img {
    width: 100%;
}

/*이미지텍스트박스 시작*/
.moon-img-1>.img-box>.img-text-box {
    position: absolute;
    top: 10%;
    left: 55%;
}

.moon-img-1>.img-box>.img-text-box>ul {
    height: 68px;
}

.moon-img-1>.img-box>.img-text-box>ul>li {
    color: white;
    padding: 10px 20px;
    height: 100%;
    box-sizing: border-box;
}

.moon-img-1>.img-box>.img-text-box>ul>li:nth-child(2) {
    background-color: #be1e2d;
}

.moon-img-1>.img-box>.img-text-box>ul>li>a {
    font-size: 2.5rem;
    font-weight: bold;
}

.moon-img-1>.img-box>.img-text-box>ul>li:last-child {
    height: 100%;
    color: #be1e2d;
    font-size: 1.5rem;
}

/* 배경 호버 효과 넣기 */
.img-text-box:hover>ul>li:not(:nth-child(2)) {
    background-color: rgb(255, 255, 255, 0.6);
}

.img-text-box>.hide-text {
    color: white;
    margin-top: 10px;
    padding-right: 250px;
    font-size: 18px;
    opacity: 0;
}

.img-text-box:hover>.hide-text {
    opacity: 1;
}

/*달이미지1 끝*/

/*블루 시작*/
.blue-banner {
    color: #fff;
    background-color: #002052;
}

.blue-banner>.blue-inner {
    padding: 0.5em 16px;
}

.blue-banner>.blue-inner>.title {
    margin-top: 10px;
    font-size: 36px;
}

/*블루 제목 끝*/

/*인사이드 배경 1*/
.inside-container {
    background-image: url(https://her2237.github.io/img1/pf/detail/foo-01.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*인사이드 배경 끝*/

/*part-2 시작*/

.part-2 {
    position: relative;
    top:0;
    left: 0;
}

.part-2 > img {
    width: 100%;
    height: 100%;
}

.part-2>.big-title {
    position: absolute;
    float: left;
    top: 5%;
    right: 0;
    text-align: right;
}

.part-2>.big-title>li {
    color: white;
    font-size: 81px;
    font-weight: bold;
    padding: 8px 16px;
}

.part-2>.big-title>li:first-child {
    background-color: #be1e2d;
}

/*part-2 끝*/

/*레드배너-1  시작*/
.red-banner-1 {
    position: relative;
    top: 0;
    left: 0;
    margin-top: -5px;
    color: #fff;
    background-color: #be1e2d;
}

.red-banner-1>.red-inner-1 {
    text-align: center;
    width: 800px;
    padding: 0.5em 16px;
    font-weight: 400;
}

.red-banner-1>.red-inner-1>.title-1 {
    font-weight: bold;
    margin: 10px 0;
    font-size: 30px;
}

/*레드베너-1 끝*/